.header {
  padding: 8.5px 0;
  border-bottom: 1px solid $border-color;
  &__container {
    display: flex;
    align-items: center;
  }

  &__calander {
    padding-left: 1.5rem;
    margin-left: 2rem;
  }

  &-right {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__news,
  &__national {
    display: inline-flex;
    align-items: center;
    height: 3.2rem;
    padding: 0 1rem;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $gray-color;
    &:hover {
      color: $tab-color;
      background-color: $light-gray-color;
    }
  }

  &__news {
    i {
      margin-right: 0.5rem;
    }
  }

  &__national {
    margin-left: 1.5rem;
    padding-left: 1rem;
    img {
      display: inline-block;
      width: 1.4rem;
      height: 1.6rem;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }

  &__search {
    position: relative;
    padding: 0 1.5rem;
    margin: 0 1.5rem;
    border-left: 1px solid $border-color;

    i {
      position: absolute;
      top: 50%;
      right: 15%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      color: rgba($color: $tab-color, $alpha: 0.4);
    }
  }

  &__input {
    width: 14rem;
    height: 3.2rem;
    padding: 0px 1rem 0 1rem;
    border-radius: 1.6rem;
    margin: 0;
    border: 1px solid $border-color;
    font-size: 1.4rem;
    outline: 0;
  }

  &__login {
    margin-right: 2rem;
    font-size: 1.5rem;
    color: $tab-color;
    i {
      color: $gray-color;
      margin-right: 0.5rem;
    }
    &:hover {
      color: #087cce;
    }
  }
}
