$primary-color: #9f224e;
$tab-color: #4f4f4f;
$text-color: #222;
$gray-color: #757575;
$light-gray-color: #f7f7f7;
$border-color: #e5e5e5;
$blue-color: #087cce;
$primary-font: "Merriweather", serif;
$secondary-font: "Arial";
$container: 1130px;
